.heading-section {
  font-size: 28px;
  color: #000;
}
.table {
  width: 100%;
  -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
}

.table thead th {
  border: none;
  padding: 5px;
  font-size: 13px;
  font-weight: 500;
  color: gray;
}

.table thead tr {
  background: #fff;
  border-bottom: 4px solid #eceffa;
}

.table tbody tr {
  margin-bottom: 2px;
  border-bottom: 4px solid #f8f9fd;
}

.table tbody tr:last-child {
  border-bottom: 0;
}

.table tbody th,
.table tbody td {
  border: none;
  padding: 0px;
  font-size: 14px;
  background: #fff;
  vertical-align: middle;
}

.table tbody td.status span {
  position: relative;
  border-radius: 30px;
  padding: 4px 10px 4px 25px;
}

.table tbody td.status span:after {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 50%;
}

.table tbody td.status .active_table {
  background: #cff6dd;
  color: #1fa750;
}

.table tbody td.status .active_table:after {
  background: #23bd5a;
}

.table tbody td.status .waiting {
  background: #fdf5dd;
  color: #cfa00c;
}

.table tbody td.status .waiting:after {
  background: #f2be1d;
}

.table tbody td .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.table tbody td .email span {
  display: block;
}

.table tbody td .email span:last-child {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}

.table tbody td .close span {
  font-size: 12px;
  color: #dc3545;
}